import(randomForest, kernelFactory, ada, rpart, ROCR, nnet, e1071, NMOF, GenSA, Rmalschains, pso, AUC, soma, genalg, reportr, nnls, quadprog, tabuSearch, rotationForest, FNN, foreach, doParallel,parallel)
importFrom(glmnet,glmnet)
importFrom("graphics", "barplot", "legend", "text")
importFrom("stats", "aggregate", "coef", "cor", "dlogis", "median","na.omit", "optim", "plogis", "predict", "quantile","runif", "sd")
importFrom("utils", "capture.output", "combn")
export(CVhybridEnsemble)
export(hybridEnsemble)
export(hybridEnsembleNews)
S3method(importance, hybridEnsemble)
S3method(predict, hybridEnsemble)
S3method(plot, CVhybridEnsemble)
S3method(summary, CVhybridEnsemble)