import(randomForest, kernelFactory, ada, rpart, ROCR, nnet, e1071, NMOF, GenSA, Rmalschains, pso, AUC, soma, genalg, reportr, nnls, quadprog, tabuSearch, rotationForest, FNN)
importFrom(glmnet,glmnet)
export(CVhybridEnsemble)
export(hybridEnsemble)
export(hybridEnsembleNews)
S3method(importance, hybridEnsemble)
S3method(predict, hybridEnsemble)
S3method(plot, CVhybridEnsemble)
S3method(summary, CVhybridEnsemble)